<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper default-theme" [ngClass]="getClasses()">
  <app-navbar *ngIf="showSideBar"></app-navbar>
  <main>
    <app-sidebar *ngIf="showSideBar"></app-sidebar>
    <div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 ">
      <router-outlet></router-outlet>
      <hr *ngIf="showSideBar">
      <app-footer *ngIf="showSideBar"></app-footer>
    </div>
    <div *ngIf="showSideBar" class="overlay" (click)="toggleSidebar()"></div>
  </main>
</div>
