<div class="row mb-4">
  <!-- table start -->
  <div class="col-md-12" *ngIf="!showForm">
    <div class="card border-0 rounded-0">
      <div class="card-title mb-1 p-3">
        <h5>Product</h5>
        <button (click)="addProduct()" class="btn btn-lightning rounded-0 mb-2 float-right" type="button">Add
          +</button>
      </div>
      <div class="card-body">
        <div class="table-responsive-md">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Stock</th>
                <th scope="col">Price</th>
                <th scope="col">Order</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of productData | paginate: { itemsPerPage: 5, currentPage: p, totalItems: productData?.length }">
                <th scope="row">{{data.id}}</th>
                <td>{{data.name}}</td>
                <td>{{data.quantity}}</td>
                <td>{{data.final_price}}</td>
                <td>{{data.order}}</td>
                <td>
                  <span *ngIf="data.status==1" class="badge badge-success rounded-0 p-1">Enabled</span>
                  <span *ngIf="data.status==2" class="badge badge-danger  rounded-0 p-1">Disabled</span>
                </td>
                <td>
                  <a (click)="editProduct(data)" class="btn btn-sm btn-outline-lightning rounded-0 mr-2 ">
                    <i class="far fa-edit"></i>
                  </a>
                  <a (click)="deleteProduct(data)" class="btn btn-sm btn-outline-lightning rounded-0">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </td>
              </tr>

            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

      </div>
    </div>

  </div>
  <!-- table end -->

  <!-- form start -->
  <div *ngIf="showForm" class="col-md-12 col-lg-6 mb-4 align-items-stretch mt-3">
    <div class="card border-0 rounded-0 h-100">
      <div class="card-title mb-1 p-3">
        <h5>{{isEdit?'Edit':'Add'}} Product</h5>
      </div>
      <div class="card-body">
        <form #productForm="ngForm" (ngSubmit)="submitProduct(formData)">
          <div class="form-group">
            <input *ngIf="isEdit" type="hidden" name="id" [(ngModel)]="formData.id">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" required name="name" [(ngModel)]="formData.name" #name="ngModel"
              class="form-control rounded-0" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter Name">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="danger">
              <small *ngIf="name.errors.required" class="form-text">Name is required.</small>
            </div>
          </div>

          <div class="form-group">
            <label>Upload Image</label>
            <div class="custom-file">
              <input type="file" multiple (change)="onFileChange($event)" name="image" class="custom-file-input"
                id="customFile">
              <label class="custom-file-label rounded-0" for="customFile">Choose file</label>
            </div>
            <ul *ngIf="productImages" class="row no-gutters upload-image-list">
              <li class="col-2" *ngFor="let image of productImages">
                <img [src]="serverImage+image.image">
                <span class="delete" (click)="deleteImage(image.id)"></span>
              </li>
            </ul>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <textarea name="description" name="description" [(ngModel)]="formData.description"
              class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Order</label>
            <input type="text" name="order" [(ngModel)]="formData.order" class="form-control rounded-0"
              id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Sort Order">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Price</label>
            <input type="text" name="price" [(ngModel)]="formData.price" class="form-control rounded-0"
              id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Price">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Discount</label>
            <input type="text" name="discount" [(ngModel)]="formData.discount" class="form-control rounded-0"
              id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="EnterDiscount">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Final Price</label>
            <input type="text" name="final_price" [(ngModel)]="formData.final_price" class="form-control rounded-0"
              id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Final Price">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Stock</label>
            <input type="text" name="quantity" [(ngModel)]="formData.quantity" class="form-control rounded-0"
              id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Stock">
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Category</label>
            <select name="category" [(ngModel)]="formData.category" class="form-control rounded-0"
              id="exampleFormControlSelect1">
              <option *ngFor="let data of categoryData" [value]="data.id" [selected]="data.id == formData.category">
                {{data.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Meta Title</label>
            <input type="text" name="metatitle" [(ngModel)]="formData.metatitle" class="form-control rounded-0"
              id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Meta Title">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Meta Description</label>
            <textarea name="metadesc" name="metadesc" [(ngModel)]="formData.metadesc" class="form-control rounded-0"
              id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Meta keywords</label>
            <textarea name="metakeyword" name="metakeyword" [(ngModel)]="formData.metakeyword"
              class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Related Products</label>
            <tag-input name="related" [placeholder]="'Enter Related Products'"
              [secondaryPlaceholder]="'Enter Related Products'" (onAdd)="setSelectedRelatedProducts($event)"
              (onRemove)="remove($event)" [ngModel]="selectedProducts" [identifyBy]="'id'" [displayBy]="'name'">
              <tag-input-dropdown [autocompleteItems]="productData" [displayBy]="'name'" [identifyBy]="'id'"
                [showDropdownIfEmpty]="true" [focusFirstElement]="true">
                <ng-template let-item="item" let-index="index">
                  {{item.name}}
                </ng-template>
              </tag-input-dropdown>
            </tag-input>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Status</label>
            <select name="status" [(ngModel)]="formData.status" class="form-control rounded-0"
              id="exampleFormControlSelect1">
              <option value="1">Enable</option>
              <option value="2">Disable</option>

            </select>
          </div>

          <button type="submit" [disabled]="!productForm.valid"
            class="btn btn-lightning rounded-0 mb-2 mr-2">{{isEdit?'Update':'Save'}}</button>
          <button type="button" (click)="showForm=false"
            class="btn btn-outline-lightning rounded-0 mb-2">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  <!-- form end -->
</div>
